.Rproj.user
.Rhistory
.RData
.Ruserdata
src/*.o
src/*.so
src/*.dll
.dir-locals.el
compile_commands.json
src/compile_commands.json
inst/snakemake_files/*txt
inst/snakemake_files/snakejob*
.projectile
*~
#*
src/#*
**~
.cquery
.ccls
*.snakemake*
GTAGS
GRTAGS
GPATH
